@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    
}

:root {
    font-family: SF Pro JP, SF Pro Text, SF Pro Icons, Hiragino Kaku Gothic Pro, ヒラギノ角ゴ Pro W3, メイリオ, Meiryo, ＭＳ Ｐゴシック, Helvetica Neue, Helvetica, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.shadow-game-panel {
    box-shadow: 10px 30px 30px rgba(0, 0, 0, 0.5);;
} 


/* モーダルの表示アニメーション */
@keyframes fadeInScaleUp {
    from {
        opacity: 0;
        transform: scale(0.9) translateY(20px);
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.modal-enter-active {
    animation: fadeInScaleUp 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* モーダルの非表示アニメーション */
@keyframes fadeOutScaleDown {
    from {
        opacity: 1;
        transform: scale(1) translateY(0);
    }

    to {
        opacity: 0;
        transform: scale(0.9) translateY(20px);
    }
}

.modal-leave-active {
    animation: fadeOutScaleDown 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
}



/* 最初の表示する時に下に向かってページが広がるアニメーション */
.initial-drop-anim-area {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@-webkit-keyframes initial-drop-anim {
    from {
        -webkit-animation-timing-function: linear;
        -webkit-transform: translate(0px, 0px) scale(1, 0.5) rotate(0deg) skew(0deg, 0deg);
        opacity: 0.0;
    }

    to {
        -webkit-animation-timing-function: linear;
        -webkit-transform: translate(0px, 0px) scale(1, 1) rotate(0deg) skew(0deg, 0deg);
        opacity: 1.0;
    }
}

@keyframes initial-drop-anim {
    from {
        animation-timing-function: linear;
        transform: translate(0px, 0px) scale(1, 0.5) rotate(0deg) skew(0deg, 0deg);
        opacity: 0.0;
    }

    to {
        animation-timing-function: linear;
        transform: translate(0px, 0px) scale(1, 1) rotate(0deg) skew(0deg, 0deg);
        opacity: 1.0;
    }
}

.initial-drop-anim {
    -webkit-animation-name: initial-drop-anim;
    animation-name: initial-drop-anim;
    -webkit-transform-origin: center top;
    transform-origin: center top;
}